.grid-container {
    display: grid ;
    gap: 10px; 
    padding: 20px;
    background-color: #f8f8f8;
    grid-template-rows: auto;
    grid-template-columns: auto; 

  }
  
  .grid-item {
    background-color: #4caf50;
    color: white;
    text-align: center;
    padding: 20px;
    border-radius: 8px;
    font-size: 1.2rem;
    font-weight: bold;
  }
